mat-progress-bar {
	margin: 0px !important;
	padding: 0px !important;
}

.save-button {
  border-radius: 20px;
  background-color: var(--green) !important;
  color: white;
}

.cancel-button {
	border-radius: 20px;
  background-color: red!important;
  color: white;
}

.file-button {
  border-radius: 20px;
  background-color: var(--blue) !important;
  color: white;
}