<mat-toolbar fxLayout='row' fxLayoutAlign="space-between center" >
	<button mat-button>
		<div class='align-text-with-icon'>
			<mat-icon fontIcon="home"></mat-icon>
			<span fxShow.lt-sm="false">Gaza Central Pharmacy</span>
		</div>
	</button>
	<div fxShow.lt-md="false" fxFlex="2 1 auto" fxLayoutAlign="center center">
		<button mat-button>test1</button>
		<button mat-button>test1</button>
		<button mat-button>test1</button>
		<button mat-button>test1</button>
	</div>
	<app-toolbar-profile></app-toolbar-profile>
</mat-toolbar>
