<div class='toolbar-background'>
<mat-toolbar fxLayout='row' fxLayoutAlign="space-between center" ngClass={{styleClass}} >
			<mat-icon class='warehouse_logo'svgIcon="warehouse_logo"></mat-icon>
	<div fxShow.lt-md="false" fxFlex="2 1 auto" >
		<button mat-button>Home</button>
		<button mat-button>Founder</button>
		<button mat-button>About Us</button>
		<button mat-button>Mission & Vision</button>
		<button mat-button>Contact Us</button>
	</div>
	<app-toolbar-profile></app-toolbar-profile>
</mat-toolbar>
</div>