<div fxLayout='column' fxLayoutGap='20px' ngClass.lt-md='main-container-lt-md' fxLayoutAlign.lt-md='center center'>
	<div fxLayout='row'>
		<span>
			<span>
				<mat-icon svgIcon='home-icon'></mat-icon></span>
				/Pharmacy Profile <span class='active-text'>/ Account Information</span>
			</span>
		</div>
		<div fxHide.gt-sm>
			<mat-card ngClass='profile-mat-card' fxLayoutAlign='center center'>
		<mat-card-header fxLayout='column'>
			<div mat-card-avatar [ngStyle]="{'background-image': getPicture() , 'width': '180px', 'height': '180px', 'background-size': 'cover'}"></div>
			<div class='change-profile-button'
			fxLayout='row' fxLayoutAlign='end end'>
			<button mat-mini-fab (click)="openDialog('0ms', '0ms')" ngClass='change-photo-button'>
				<div>
					<mat-icon class='text_on_background'>camera_enhance</mat-icon>
				</div>
			</button>
		</div>
	</mat-card-header>
</mat-card>
		</div>
		<div fxLayout='column' fxLayoutGap='15px' fxLayoutAlign='start start' fxLayoutAlign.lt-md='center center'>
			<div fxLayout='row' fxLayoutGap='10px' fxLayoutAlign='center center'>
				<h2>Account Information</h2>
				<button mat-mini-fab (click)='changeDisabled()' ngClass='edit-button'>
					<mat-icon>edit</mat-icon>
				</button>
			</div>
			<mat-card>
				<mat-card-content>
					<form fxLayout='column' [formGroup]=accountForm (ngSubmit)="onSubmit()">
						<div fxLayout='row' fxLayoutAlign='space-between center' fxLayoutGap="150px" fxLayoutGap.lt-md='30px' fxLayoutAlign.lt-md='start center'>
							<label>Pharmacy Name</label>
							<mat-form-field>
								<input matInput formControlName='name'>
							</mat-form-field>
						</div>
						<div fxLayout='row' fxLayoutAlign='space-between center' fxLayoutGap="150px" fxLayoutGap.lt-md='30px' fxLayoutAlign.lt-md='start center'>
							<label>Account Number</label>
							<mat-form-field>
								<input matInput [value]="currentUser?.code" disabled=disabled>
							</mat-form-field>
						</div>
						<div fxLayout='row' fxLayoutAlign='space-between center'  fxLayoutGap="150px" fxLayoutGap.lt-md='65px' fxLayoutAlign.lt-md='start center'>
							<label>Password</label>
							<mat-form-field ngClass='password-field-form'>
								<input matInput [type]= "hide ? 'password' : 'text'" formControlName='password'>
								<button type="button" mat-icon-button matSuffix (click)="hide = !hide" [disabled]="disabled">
									<mat-icon> {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
								</button>
							</mat-form-field>
						</div>
						<span>
							<button mat-raised-button *ngIf='!disabled' type="submit" ngClass='save-changes-button'>Save Changes</button>
						</span>
					</form>
					<mat-error *ngIf='error'>{{error}}</mat-error>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
