.active-text {
	color: var(--blue);
}

h2 {
	margin-bottom: 0px;
}

.main-container-lt-md{
	padding: 1rem;
}

.password-field-form{
	width: 180px;
}

.profile-image {
	width: 180px;
	height: 180px;
	background-image: url('/assets/images/alexander-hipp-.png');
	background-size: cover;
}

.change-profile-button {
	z-index: 1;
	margin-top: -50px !important;
	margin-right: 165px !important;
}

.main-container{
	margin-left: 4rem;
	background-color: aliceblue;
}

.profile-mat-card {
	box-shadow: none !important;

}
