<div fxLayout='column' fxLayoutAlign='center center'>
	<div fxLayout='columm' *ngFor='let order of ordersData'>
		<table mat-table [dataSource]="order.order">
			<ng-container matColumnDef='id'>
				<th mat-header-cell *matHeaderCellDef>ID</th>
				<td mat-cell *matCellDef='let order'>
					{{order.id}}
				</td>
			</ng-container>
			<ng-container matColumnDef='name'>
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef='let order'>
					{{order.drug_name}}
				</td>

			</ng-container>
			<ng-container matColumnDef='quantity'>
				<th mat-header-cell *matHeaderCellDef>Quantity</th>
				<td mat-cell *matCellDef='let order'>
					{{order.quantity}}
				</td>

			</ng-container>
			<ng-container matColumnDef='expiration_date'>
				<th mat-header-cell *matHeaderCellDef>Expiration Time</th>
				<td mat-cell *matCellDef='let order'>
					{{order.expiration_time}}
				</td>

			</ng-container>
			<ng-container matColumnDef='price_per_unit'>
				<th mat-header-cell *matHeaderCellDef>Price Per Unit</th>
				<td mat-cell *matCellDef='let order'>
					{{order.price_per_unit}}
				</td>
			</ng-container>
			<ng-container total_price>
				<th mat-header-cell *matHeaderCellDef>Total Price</th>
				<td mat-cell *matCellDef='let order'>
					{{order.total_price}}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		</table>
	</div>
	<div>
		<mat-paginator [length]="100"
		[pageSize]="10"
		[pageSizeOptions]="[5, 10, 25, 100]">
	</mat-paginator>
</div>
</div>


<!-- export interface Order {
  id: string,
  drug_name:string,
  quantity: number,
  expiration_date: string,
  drug_status: string,
  price_per_unit: number,
  total_price: number,
}

export interface Orders {
  order: Order[],
  price: number,
  createdAt: string
  order_status:string
} -->