<div fxLayout='column' fxLayoutAlign='space-between center'>
	<div fxLayout='row' fxLayoutAlign='space-between center' class='head-container' fxFlexAlign='stretch'>
		<div class='row-container' fxFlex=60>
			<div fxLayout='column'>
				<h1>Gaza Central Company</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<h4>Let's create your first order</h4>
				<div>
					<button mat-raised-button class="order-now-button" color='accent'>Order Now</button></div>
				</div>
			</div>
			<div fxLayout='row' fxLayoutAlign='end center' class='slider-background' fxFlex=40>
				<div >
					<mat-slider min="1" max="3" step="1" value="1" vertical tickInterval="1"></mat-slider>
				</div>
			</div>
		</div>
		<div fxLayout='column' class='row-container color-content' fxLayoutGap=50> 
			<div fxLayout='column' fxLayoutAlign="start center">
				<h1>
					<span class='first-three'>Abo</span>ut Gaza Central Company
				</h1>
				<div fxLayout='row wrap' fxFlex="30">
					<p align="center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
					</p>
				</div>
			</div>
			<div fxLayout='row' fxLayoutAlign='center center'>
				<div>
					<img src="/assets/images/national-cancer(1).png" class="img-in-tile">
				</div>
				<div fxLayout='column' fxFlex=50> 
					<mat-icon svgIcon='quotes'></mat-icon>
					<p>
						Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC

						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
						1914 translation by H. Rackham

						"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment
					</p>
					<mat-icon svgIcon='quotes'fxLayout='row' fxFlexAlign='end'></mat-icon>
				</div>
			</div>
		</div>
		<div class='color-content row-container' fxLayout='column'  fxLayoutGap='70'>
			<div fxLayout='column' fxLayoutAlign="center center">
				<h1>
					<span class='first-three'>Fou</span>nder & Board of Directors
				</h1>
				<div fxLayout='row wrap' fxFlex="30">
					<p align="center">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
					</p>
				</div>
			</div>

			<div fxLayout='row' fxLayoutAlign='space-between start'>
				<p fxFlex=33>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
				1914 translation by H. Rackham</p>

				<div fxLayout='column' fxLayoutAlign='start center' fxLayoutGap='15' class='image-container'>
					<img fxLayout='row' fxFlex="1 1 calc(30em + 20px)" src='/assets/images/founder.png' class='img-in-tile'>
					<p>Founder</p>
				</div>
				<p fxFlex=33>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
				1914 translation by H. Rackham</p>
			</div>
		</div>





		<div class='color-content row-container'>
			<div fxLayout='column' fxLayoutAlign="center center" fxLayoutGap="12px">
				<mat-card fxLayout='row' fxLayoutAlign='space-between center' class='card-container'>
					<img mat-card-image src='/assets/images/char-01.png' fxLayout="row" fxFlex=30 fxFlex.gt-md="20" class='card-image'>
					<mat-card-content fxFlex='65'>
						<h3><--- Oh WOW a Person</h3>
							<p>
								The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
								A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
								bred for hunting.
							</p>
						</mat-card-content>

					</mat-card>
					<mat-card fxLayout='row' fxLayoutAlign='space-between center' class='card-container'>
						<img mat-card-image src='/assets/images/char-01.png' fxLayout="row" fxFlex=30 fxFlex.gt-md="20" class='card-image'>
						<mat-card-content fxFlex='65'>
							<h3><--- Oh WOW a Person</h3>
								<p>
									The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
									A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
									bred for hunting.
								</p>
							</mat-card-content>

						</mat-card>
						<mat-card fxLayout='row' fxLayoutAlign='space-between center' class='card-container' fxFlex="50">
							<img mat-card-image src='/assets/images/char-01.png' fxLayout="row" fxFlex=30 fxFlex.gt-md="20" class='card-image'>
							<mat-card-content fxFlex='65'>
								<h3><--- Oh WOW a Person</h3>
									<p>
										The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
										A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
										bred for hunting.
									</p>
								</mat-card-content>

							</mat-card>
							<mat-card fxLayout='row' fxLayoutAlign='space-between center' class='card-container'>
								<img mat-card-image src='/assets/images/char-01.png' fxLayout="row" fxFlex=30 fxFlex.gt-md="20" class='card-image'>
								<mat-card-content fxFlex='65'>
									<h3><--- Oh WOW a Person</h3>
										<p>
											The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
											A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
											bred for hunting.
										</p>
									</mat-card-content>

								</mat-card>
							</div>
						</div>
						<div class='color-content row-container' fxFlexAlign='stretch'>
							<div fxLayout='column' fxLayoutAlign="center center">
								<div fxLayout='column' fxLayoutAlign="start center">
									<h1>
										<span class='first-three'>Our</span> Mission & Vision
									</h1>
									<h3>Quality, Intergrity, Experience</h3>
									<div fxLayout='row wrap' fxFlex="30">
										<p align="center">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
										</p>
									</div>
								</div>
								
									<mat-list fxLayout='row' fxLayoutGap='15px' >
									<mat-card fxLayout='column' fxLayoutAlign='center center' fxFlex="33" class='card-container-horizontal'>
										<div>
											<img mat-card-image src='/assets/images/quality.png'>
										</div>
										<mat-card-title>Integrity</mat-card-title>
										<mat-card-content fxLayout='column' fxLayoutAlign='center center'>
											<h3 align="center">And providing them to all parts of the gaza strip in a manner commensurate with all segements of society</h3>
										</mat-card-content>
									</mat-card>
									<mat-card fxLayout='column' fxLayoutAlign='center center' fxFlex="33" class='card-container-horizontal'>
										<div >
											<img mat-card-image src='/assets/images/integrity.png'>
										</div>
										<mat-card-title>Integrity</mat-card-title>
										<mat-card-content fxLayout='column' fxLayoutAlign='center center'>
											<h3 align="center">And providing them to all parts of the gaza strip in a manner commensurate with all segements of society</h3>
										</mat-card-content>
									</mat-card>
									<mat-card fxLayout='column' fxLayoutAlign='center center' fxFlex="33" class='card-container-horizontal'>
										<div >
											<img mat-card-image src='/assets/images/experience.png'>
										</div>
										<mat-card-title>Experience</mat-card-title>
										<mat-card-content fxLayout='column' fxLayoutAlign='center center'>
											<h3 align="center">And ensuring that it reaches patients who need it at the right time, place and price</h3>
										</mat-card-content>
									</mat-card>
									</mat-list>
								
							</div>
						</div>
						<div class='color-content row-container'>
							<div fxLayout='column' fxLayoutAlign="center center">
								<h1>
									<span class='first-three'>Sal</span>es representatives
								</h1>
								<p align="center"> 
									Very cool people, that you will never meet, because they aint real... ya they look real but in reality i have no idea who those people are... muh, good luck
								</p>
							</div>
							<mat-list>
								<mat-card *ngFor='let x of arr' fxLayout='column' fxLayoutAlign='center center' fxFlex="33" class='card-container-horizontal' fxLayout='column' fxLayoutGap='15px'>
									<mat-card-header>
										<div mat-card-avater fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='20px'>
											<img src='/assets/images/Sales_test.png'>
											<mat-card-title>Shiba Inu</mat-card-title>
										</div>
									</mat-card-header>
									<mat-card-content fxLayout='row' fxLayoutAlign='center center'>
										<span fxLayout='row' fxLayoutAlign='center center'>
										<mat-icon>phone</mat-icon>
										+972595493999
									</span>
									</mat-card-content>
								</mat-card>
							</mat-list>

							<div fxLayout='row' fxLayoutAlign='center center'>
							<button mat-button>
							<mat-icon>keyboard_arrow_left</mat-icon>
							</button>
							<mat-list>
								<button mat-button>
									<mat-icon>brightness_1</mat-icon>
								</button>
								<button mat-button focus>
									<mat-icon>brightness_1</mat-icon>
								</button>
								<button mat-button>
									<mat-icon>brightness_1</mat-icon>
								</button>
							</mat-list>
							<button mat-button>
							<mat-icon>keyboard_arrow_right</mat-icon>
							
						</button>
						</div>
						</div>
						<div class='color-content row-container' fxFlexAlign='stretch'>
							<div fxLayout='column' fxLayoutAlign="center center">
								<h1>
									<span class='first-three'>Con</span>tact Us
								</h1>
								<p align="center"> 
									Leave us a Message !
								</p>
							</div>
							<mat-card fxLayout='row' fxLayoutAlign='space-between centers'>
								<div class='inner-card-background'>
								<mat-card fxLayout='column' fxLayoutGap='40' class='inner-card' fxLayoutAlign='center center'>
									<mat-card-header>Contact Us</mat-card-header>
									<mat-card-content fxLayout='column' fxLayoutGap='25' fxLayoutAlign='center center'>
										<span fxLayout='row' fxLayoutAlign='center center'><mat-icon>phone</mat-icon>+978523482034</span>
										<span fxLayout='row' fxLayoutAlign='center center'><mat-icon>email</mat-icon>DEV@DEV.com</span>
										<span fxLayout='row' fxLayoutAlign='center center'><mat-icon svgIcon='whatsapp_logo'></mat-icon>@DEVIE</span>
									</mat-card-content>
								</mat-card>
								</div>
								<mat-card>
									<p align="center">
										Contact us to retreive your special access credentials
									</p>
									<mat-card-content fxLayoutAlign='center center'>
										<mat-form-field appearance='fill' fxFlex='stretch'>
											<mat-label>Message</mat-label>
  <textarea matInput class='contact-us-input'></textarea>
 								<input matInput type='input'>
										</mat-form-field>
									</mat-card-content>
									<mat-card-footer fxLayoutAlign='center center'>
										<button mat-raised-button>Submit</button>
									</mat-card-footer>
								</mat-card>
							</mat-card>
						</div>
					</div>
