<div ngClass='main-container' ngClass.lt-md='main-container-lt-md' fxLayoutGap='10px'>
	<div fxLayout='row' fxLayoutAlign='space-between center' class='h1-container' [ngStyle]= "{'padding-bottom': '20px'}">
		<h1><span class='underline'>Cus</span>tomers</h1>
		<button mat-raised-button (click)= 'openDialog("0ms", "0ms")'>
			Import Customers
		</button>
	</div>
	<div fxLayout='column' ngClass='table-container' ngClass.lt-md='table-container-lt-md'>
		<table mat-table [dataSource]="customerData" ngClass.lt-md='table-lt-md'>
			<ng-container matColumnDef='account_number'>
				<th mat-header-cell *matHeaderCellDef>Account Number</th>
				<td mat-cell *matCellDef='let customer'>
					{{customer.code}}
				</td>
			</ng-container>
			<ng-container matColumnDef='pharmacy_name'>
				<th mat-header-cell *matHeaderCellDef>Pharmacy Name</th>
				<td mat-cell *matCellDef='let customer'>
					{{customer.name}}
				</td>

			</ng-container>
			<ng-container matColumnDef='latitude'>
				<th mat-header-cell *matHeaderCellDef>latitude</th>
				<td mat-cell *matCellDef='let customer'>
					{{customer.latitude}}
				</td>
			</ng-container>
			<ng-container matColumnDef='longitude'>
				<th mat-header-cell *matHeaderCellDef>longitude</th>
				<td mat-cell *matCellDef='let customer'>
					{{customer.longitude}}
				</td>

			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<div fxLayout='row' >
		<mat-paginator 
		(page) = "pageChanged($event)"
		[length] ="totalRows"
		[pageSize]="pageSize"
		[pageIndex]="currentPage"
		[pageSizeOptions]="pageSizeOptions">

	</mat-paginator>
</div>
				
	</div>
</div>