<form fxLayout='row wrap' fxLayoutGap='10px' [formGroup]= "filterForm" (ngSubmit)='filterData()' novalidate>
			<mat-form-field appearance="fill" fxFlexAlign=center ngClass='medium-size-form' fxFlexOrder=1>
				<mat-label >Date of Order</mat-label>
				<input matInput type='date' formControlName='created_at'>
			</mat-form-field>
			<mat-form-field appearance="fill" fxFlexAlign=center  ngClass='medium-size-form' fxFlexOrder=2>
				<mat-label>Drug Name</mat-label>
				<input matInput type='text' formControlName='drugName' [matAutocomplete]='drugsAuto'>
				<mat-autocomplete #drugsAuto="matAutocomplete" [displayWith]="displayDrug">
			      <mat-option *ngFor="let option of filteredDrugsOptions | async" [value]="option">
			        {{option.name}}
			      </mat-option>
    			</mat-autocomplete>
			</mat-form-field> 	

			<mat-form-field appearance="fill" fxFlexAlign=center ngClass='price' ngClass.lt-md='medium-size-form' fxFlexOrder=4>
				<mat-label>Min Price</mat-label>
				<input matInput type='number' formControlName='gtPrice'>
			</mat-form-field>
			<mat-form-field appearance="fill" fxFlexAlign=center ngClass='price' ngClass.lt-md='medium-size-form' fxFlexOrder=5>
				<mat-label>Max Price</mat-label>
				<input matInput type='number' formControlName='ltPrice'>
			</mat-form-field>
	
		<mat-form-field appearance="fill" fxFlexAlign=center fxFlexOrder=3 ngClass='medium-size-form'>
			<mat-label>Pharmacy Name</mat-label>
			<input matInput type='text' formControlName='pharmacyName' [matAutocomplete]='auto'>
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomer">
			      <mat-option *ngFor="let option of filteredPharmacyOptions | async" [value]="option">
			        {{option.name}}
			      </mat-option>
    			</mat-autocomplete>
		</mat-form-field>

	<div fxLayoutAlign='center center' fxFlexOrder=6 fxFlex='start' fxFlexAlign='start' ngClass.lt-md='medium-size-form'>
		
		<button mat-raised-button type='submit' ngClass='filter-button'>Filter</button>
		
	</div>
</form>
