<div class='main-container' ngClass.lt-md='main-container-lt-md'>
	<div fxLayout='column' fxLayoutGap='30px'>
		<div fxLayout='row' >
		<span>
			<span>
				<mat-icon svgIcon='home-icon'></mat-icon></span>
				/ <span class='active-text'>New Order</span>
			</span>
		</div>
		<mat-card>
			<mat-card-content fxLayout='row' fxLayoutAlign='space-between center'>
				<div fxLayout='row' fxLayoutGap='150px'>	
		<div fxLayout='row'>
		<span>
			<span>
				<mat-icon svgIcon='home-icon'></mat-icon></span>
				/ <span class='active-text'>New Order</span>
			</span>
		</div>
		</div>
		<div fxLayout='row'>
			<span>
				<button mat-button routerLink='/account/current-orders'>
					<span>My orders</span>
				</button>
			</span>
		</div>	
			</mat-card-content>
		</mat-card>
	</div>
	<div fxLayout='column' fxLayoutGap='10px'>
		<span><h1>Create Your Order Now</h1></span>
		<div fxLayout='column' fxLayoutGap='25px'>
			<div>


















				<form fxLayout='column' fxLayoutGap='10px' fxLayoutAlign='start center'>
					<div fxLayout='row' fxLayout.lt-md='column' fxLayoutGap='10px' fxFlexAlign='stretch'>
					<mat-form-field appearance='fill'>
						<mat-label>Search</mat-label>
						<mat-icon matSuffix>search icon</mat-icon>
						<input matInput>
					</mat-form-field>
					<mat-form-field appearance='fill' [ngStyle]="{'width': '100px'}">
						<mat-label>Quantity</mat-label>
						<input matInput type='number'>
					</mat-form-field>
					<div>
				<button mat-raised-button fxLayout='row'>
					<mat-icon>add_circle_outline</mat-icon>
					Add
				</button>
				</div>
					</div>
				</form>
























			</div>
			<div class='table-conatiner' ngClass.lt-md='table-container-lt-md' fxLayout='column'>
					<table mat-table [dataSource]="orderData" ngClass='table-lt-md'>
			<ng-container matColumnDef='id'>
				<th mat-header-cell *matHeaderCellDef>ID</th>
				<td mat-cell *matCellDef='let order'>
					{{order.id}}
					
				</td>
				<td mat-footer-cell *matFooterCellDef colspan="5">
				Total Price</td>
			</ng-container>
			<ng-container matColumnDef='drug_name'>
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef='let order'>
					{{order.drug_name}}
				</td>

			</ng-container>
			<ng-container matColumnDef='quantity'>
				<th mat-header-cell *matHeaderCellDef>Quantity</th>
				<td mat-cell *matCellDef='let order'>
					{{order.quantity}}
				</td>
			</ng-container>
			<ng-container matColumnDef='expiration_date'>
				<th mat-header-cell *matHeaderCellDef>Expiration Time</th>
				<td mat-cell *matCellDef='let order'>
					{{order.expiration_date}}
				</td>

			</ng-container>
			<ng-container matColumnDef='price_per_unit'>
				<th mat-header-cell *matHeaderCellDef>Price Per Unit</th>
				<td mat-cell *matCellDef='let order'>
					{{order.price_per_unit}}
				</td>
			</ng-container>
			<ng-container matColumnDef=total_price>
				<th mat-header-cell *matHeaderCellDef>Total Price</th>
				<td mat-cell *matCellDef='let order'>
					{{order.total_price}}
				</td>
				<td mat-footer-cell *matFooterCellDef colspan="2">
				{{totalPrice()}}</td>
			</ng-container>
			<ng-container matColumnDef=actions>
				<th mat-header-cell *matHeaderCellDef>Actions</th>
				<td mat-cell *matCellDef>
					<div fxLayout='columm' fxLayoutGap=2px>
					<button mat-raised-button color="warn">Delete</button>
					<button mat-raised-button color="accent">Edit</button>
					</div>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			<tr mat-footer-row *matFooterRowDef="footerDisplayColumns"></tr>
		</table>
				
			</div>
			<div>
				<button mat-raised-button>SAVE</button>
			</div>
		</div>
	</div>
</div>