.active-text {
	color: var(--blue);
}



.tables-container{
	display: block;
    overflow-x: auto;
	white-space: nowrap;
	width: 80vw;

}
.tables-container-lt-md {
	display: block;
    overflow-x: auto;
	white-space: nowrap;
	width: 100vw;
}

.tables-container-lt-lg {
	display: block;
    overflow-x: auto;
	white-space: nowrap;
	width: 60vw;
}
