<button mat-icon-button [matMenuTriggerFor]="notificationMenu">
			<mat-icon fontIcon="notifications" matBadge="3 "matBadgeColor="warn" class='text_on_background'></mat-icon>
		</button>
		<mat-menu #notificationMenu='matMenu' >
			<mat-list >
				<div mat-menu-item fxLayout='row' fxLayoutAlign="space-between center">
					<span> Notification 1 and others things </span>
					<mat-icon color="accent">new_releases</mat-icon>
				</div>
				<mat-divider></mat-divider>
				<div mat-menu-item fxLayout='row' fxLayoutAlign="space-between center">
					<span> Notification 2 </span>
					<mat-icon color="accent">new_releases</mat-icon>
				</div>
				<mat-divider></mat-divider>
				<div mat-menu-item>
					<span> does this even work??</span>
				</div>
			</mat-list>

		</mat-menu>