.active-text {
	color: var(--blue);
}

.table-lt-md{
min-width: 800px;
}

.table-container-lt-md {
	/*display: block !important;*/
    overflow-x: auto;
    white-space: nowrap;
}

.main-container {
	padding: 2rem;
	
}

.main-container-lt-md{
	padding: 1rem;
}

.mat-card-search {
	padding: 0;
}

mat-selection-list {
	padding: 0;
}

::ng-deep span.mat-button-wrapper {
	flex: 0 0 100%;
}

.mat-card-search {
	margin-top: -18px;
}

.table {
	min-width: 800px;
}


