<div fxLayout='column' fxLayout.lt-md='row' fxFlexAlign='stretch' class='main-container' fxLayoutGap='100px' fxLayoutGap.lt-md=0>
			<mat-card fxHide.lt-md>
				<mat-card-header fxLayout='column'>
					<div mat-card-avatar class='profile-image'></div>
					<div class='change-profile-button'
					fxLayout='row' fxLayoutAlign='end end'>
					<button mat-mini-fab color='primary'>
						<div>
							<mat-icon>camera_enhance</mat-icon>
						</div>
					</button>
				</div>
				</mat-card-header>
			</mat-card>
					<mat-button-toggle-group name='fontStyle' aria-label='Font Style' fxLayout='column' fxLayout.lt-md='row'>
						<mat-button-toggle value='info' checked routerLink='info' routerLinkActive="active'">
							Account Information
						</mat-button-toggle>
						<mat-button-toggle value='info' routerLink='current-orders'>
							Current Orders
						</mat-button-toggle>
						<mat-button-toggle value='info' routerLink='archived-orders' routerLinkActive='active'>
							Archived Orders
						</mat-button-toggle>
					</mat-button-toggle-group>
			<div fxLayout='column'>
			</div>
		</div>