.main-container {

}
.mainbox {
  background-color: rgba(0,147,221, 0.3);

}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: large;
    margin: auto;
    padding: auto;
  }
h1 {
  color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100px;
    padding-top: 100px;
    padding-bottom: 100px;


}
.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    padding-bottom: 100px;
  }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}