<footer fxLayout='column'>
	<div class='background-layer'>
	<div class='footer-container'>
		<div class='left-align-footer-items' fxLayout='column'>
			<div fxLayout='row' class='logo-container'>
				<span fxFlex='50' fxLayout='row' fxLayoutAlign=' center' fxLayoutGap='15'>
					<mat-icon svgIcon='warehouse_logo' class='logo-footer'></mat-icon>
					<span class='text_on_background'>Gaza Central Company</span>
				</span>
			</div>
			<div fxLayout='row'>
				<p fxFlex='50' class='text_on_background'>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>	
			</div>
		</div>
		<mat-divider></mat-divider>
		<div fxLayout='row' fxLayoutAlign='space-between center'>
			<div>
			<button mat-button>
				<mat-icon svgIcon='facebook_logo'></mat-icon>
			</button>
			<button mat-button>
				<mat-icon svgIcon='whatsapp_logo'></mat-icon>
			</button>
			</div>
			<div>
			<span class='text_on_background'>
				Language:
			</span>
			<button mat-button autofocus color="accent">
				<span>En</span></button>
			<button mat-button><span class='text_on_background'>Ar</span></button>
			</div>
		</div>
	</div>
	</div>
</footer>