<div ngClass='main-container' ngClass.lt-md='main-container-lt-md' fxLayout='column' fxLayoutAlign='center center'>

	<span><h1>Please Submit a File !</h1></span>

	<div>
		<form [formGroup]='fileForm' (ngSubmit)='onSubmit()' novalidate fxLayout=column fxLayoutAlign='center center' fxLayoutGap=10px>
			<div fxLayoutGap=5px fxLayout='column' fxLayoutAlign='center center'>

			<label mat-label for="file">Upload a file!</label>
			<input type='file' id='fileInput' #file (change)="onFileChange($event)" fromControlName='file' hidden>
			<button type="button" mat-raised-button (click)="file.click()">Choose File</button>
			<span>{{fileName}}</span>


			</div>
			<div *ngIf='fileForm.touched'>
				<mat-error *ngIf='fileForm.controls.file.errors'>Please submit a file with accepted format, ie ({{this.ALLOWED_EXT.toString()}})!</mat-error>
			</div>
			<div *ngIf='error'>
				<mat-error>{{error}}</mat-error>
			</div>
			<mat-progress-bar *ngIf='startProgress'  mode="indeterminate"></mat-progress-bar>

			<div fxLayoutGap=20px>
				<button mat-raised-button type="submit" [disabled]="!fileForm.valid">Import</button>
				<button mat-raised-button (click)="onCancel()" type='button'>Cancel</button>
			</div>
		</form>	
	</div>

</div>
