app-toolbar {
   margin-bottom: 0px !important;
}

app-signin{
   margin-bottom: 0px !important; 
}

router-outlet {
   margin-bottom: 0px !important;  
}


app-toolbar ~ app-home {
   background-color: var(--blue) !important;
}

