app-toolbar {
   margin-bottom: 0px !important;
}

router-outlet { 
   margin: 0px !important;
   padding: 0px !important;

}

app-toolbar ~ app-home {
   background-color: var(--blue) !important;
}


:host {
   margin: 0px !important;
   padding: 0px !important;
}

.main-container-gt-lg{
   max-width: 1920px;
   background-color: white;
}

.main-container {
   background-color: white;
}

.main-background {
   z-index: 0;
   background-color: rgba(0,147,221, 0.1);
}